# Importing Libraries and Exploring Data

In [1]:
#import the libraries
import numpy as np
import pandas as pd

patient_data=pd.read_csv("Health_Data.csv")
#use the head fucntion to get a glimpse data
patient_data.head()

,Patient_id,Age,Admission_type,PreExistingDisease,PreviousSurgery,Gender,Smoker,Homeless,DaysinHospital,Readmitted
0,1,33,Urgent,Y,0,M,1,0,1,0
1,2,34,Emergency,N,0,M,1,0,22,0
2,3,88,Trauma,Y,1,M,1,1,100,1
3,4,56,Elective,Y,0,M,1,0,2,0
4,5,45,Trauma,Y,0,M,1,0,34,0

In [2]:
# Summary of Numerical Data
patient_data.describe()

,Patient_id,Age,PreviousSurgery,Smoker,Homeless,DaysinHospital,Readmitted
count,357.00000,357.000000,357.000000,357.000000,357.000000,357.000000,357.000000
mean,179.00000,42.574230,0.341737,0.596639,0.378151,43.182073,0.193277
std,103.20126,29.274624,0.474957,0.491261,0.485606,47.362609,0.395423
min,1.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,90.00000,14.000000,0.000000,0.000000,0.000000,12.000000,0.000000
50%,179.00000,35.000000,0.000000,1.000000,0.000000,32.000000,0.000000
75%,268.00000,67.000000,1.000000,1.000000,1.000000,55.000000,0.000000
max,357.00000,96.000000,1.000000,1.000000,1.000000,352.000000,1.000000

In [3]:
#Summary of Categotical Data
patient_data.describe(include=['object'])

       Admission_type PreExistingDisease Gender
count             357                357    357
unique              5                  2      2
top            Urgent                  N      F
freq              131                228    186

In [4]:
# Summary of Numerical Data
(patient_data.describe())

,Patient_id,Age,PreviousSurgery,Smoker,Homeless,DaysinHospital,Readmitted
count,357.00000,357.000000,357.000000,357.000000,357.000000,357.000000,357.000000
mean,179.00000,42.574230,0.341737,0.596639,0.378151,43.182073,0.193277
std,103.20126,29.274624,0.474957,0.491261,0.485606,47.362609,0.395423
min,1.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,90.00000,14.000000,0.000000,0.000000,0.000000,12.000000,0.000000
50%,179.00000,35.000000,0.000000,1.000000,0.000000,32.000000,0.000000
75%,268.00000,67.000000,1.000000,1.000000,1.000000,55.000000,0.000000
max,357.00000,96.000000,1.000000,1.000000,1.000000,352.000000,1.000000

In [5]:
#Seperate independent and dependent variables
mydata=pd.read_csv("Health_Data.csv")
X=mydata.iloc[:,1:9]
y=mydata.iloc[:,9]

#Datatye of independent and dependent variable
print("X is:",type(X))
print("y is:",type(y))

X is: <class 'pandas.core.frame.DataFrame'>
y is: <class 'pandas.core.series.Series'>

In [6]:
X.head()

,Age,Admission_type,PreExistingDisease,PreviousSurgery,Gender,Smoker,Homeless,DaysinHospital
0,33,Urgent,Y,0,M,1,0,1
1,34,Emergency,N,0,M,1,0,22
2,88,Trauma,Y,1,M,1,1,100
3,56,Elective,Y,0,M,1,0,2
4,45,Trauma,Y,0,M,1,0,34

In [7]:
y.head()

0    0
1    0
2    1
3    0
4    0
Name: Readmitted, dtype: int64

In [8]:
print("X is:",type(X))
print("y is:",type(y))

X is: <class 'pandas.core.frame.DataFrame'>
y is: <class 'pandas.core.series.Series'>

In [9]:
X.head()

,Age,Admission_type,PreExistingDisease,PreviousSurgery,Gender,Smoker,Homeless,DaysinHospital
0,33,Urgent,Y,0,M,1,0,1
1,34,Emergency,N,0,M,1,0,22
2,88,Trauma,Y,1,M,1,1,100
3,56,Elective,Y,0,M,1,0,2
4,45,Trauma,Y,0,M,1,0,34

# Transforming Categorical Variables

In [10]:
# New Admission type
A_type=pd.get_dummies(X.iloc[:,1],drop_first=True,prefix='Atype')

# New Gender  
New_gender=pd.get_dummies(X.iloc[:,4],drop_first=True,prefix='Gender')

# New Pre Existing Disease Variable
Pre_exdis=pd.get_dummies(X.iloc[:,2],drop_first=True,prefix='PreExistDis')

In [11]:
#Drop the Original columns
X.drop(['Admission_type','PreExistingDisease','Gender'],axis=1,inplace=True)

# Concat the new transformed data to X dataframe
X=pd.concat([X,A_type,New_gender,Pre_exdis],axis=1)

In [12]:
X.head()

,Age,PreviousSurgery,Smoker,Homeless,DaysinHospital,Atype_Emergency,Atype_Newborn,Atype_Trauma,Atype_Urgent,Gender_M,PreExistDis_Y
0,33,0,1,0,1,0,0,0,1,1,1
1,34,0,1,0,22,1,0,0,0,1,0
2,88,1,1,1,100,0,0,1,0,1,1
3,56,0,1,0,2,0,0,0,0,1,1
4,45,0,1,0,34,0,0,1,0,1,1

# Splitting Train Test Data & Scaling it

In [13]:
# Split The Data into Train and Test
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest= train_test_split(X, y, test_size=0.30, random_state=110)

In [14]:
#Scale the inputs
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

xtrain=sc.fit_transform(xtrain)
xtrain=pd.DataFrame(xtrain,columns=xtest.columns)

xtest=sc.transform(xtest)
xtest=pd.DataFrame(xtest,columns=xtrain.columns)

# Create new objects to store the values as Numpy arrays
x_train=xtrain.values
x_test=xtest.values
y_train=ytrain.values
y_test=ytest.values

C:\Users\RitZ\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\RitZ\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\RitZ\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.

In [15]:
xtrain.head()

,Age,PreviousSurgery,Smoker,Homeless,DaysinHospital,Atype_Emergency,Atype_Newborn,Atype_Trauma,Atype_Urgent,Gender_M,PreExistDis_Y
0,1.415411,1.340803,0.792118,1.210515,1.883715,-0.363068,-0.303488,1.835326,-0.739313,-0.911527,1.306339
1,1.583479,1.340803,0.792118,1.210515,1.069799,-0.363068,-0.303488,1.835326,-0.739313,-0.911527,1.306339
2,0.675914,-0.745822,0.792118,1.210515,-0.453684,-0.363068,-0.303488,-0.544862,1.352607,1.097060,-0.765498
3,0.306166,-0.745822,-1.262438,-0.826095,-0.244988,2.754307,-0.303488,-0.544862,-0.739313,-0.911527,-0.765498
4,-1.071987,-0.745822,0.792118,-0.826095,-0.912816,-0.363068,-0.303488,-0.544862,-0.739313,1.097060,-0.765498

In [16]:
x_train=xtrain.values
x_test=xtest.values
y_train=ytrain.values
y_test=ytest.values

# Building an Arificial Neural Network & Training it

In [44]:
#Import the relevant Keras libraries
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

# Initiate the Model with Sequestial Class
model=Sequential()

In [18]:
# Add the 1st dense layer and Dropout Layer
model.add(Dense(units=6,activation='relu',kernel_initializer='uniform',input_dim=11))
model.add(Dropout(rate=0.3))

#Add the 2nd dense Layer and Dropout Layer
model.add(Dense(units=6,activation='relu',kernel_initializer='uniform'))
model.add(Dropout(rate=0.3))

# Add Output Dense Layer
model.add(Dense(units=1,activation='sigmoid',kernel_initializer='uniform'))

In [19]:
#Complie the Network
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

#Fit the Model
model.fit(x_train,y_train,epochs=100,batch_size=20)

Epoch 1/100
249/249 [==============================] - 1s 4ms/step - loss: 0.6915 - acc: 0.7550
Epoch 2/100
249/249 [==============================] - 0s 81us/step - loss: 0.6874 - acc: 0.7912
Epoch 3/100
249/249 [==============================] - 0s 40us/step - loss: 0.6828 - acc: 0.7912
Epoch 4/100
249/249 [==============================] - 0s 81us/step - loss: 0.6764 - acc: 0.7912
Epoch 5/100
249/249 [==============================] - 0s 80us/step - loss: 0.6680 - acc: 0.7912
Epoch 6/100
249/249 [==============================] - 0s 39us/step - loss: 0.6577 - acc: 0.7912
Epoch 7/100
249/249 [==============================] - 0s 83us/step - loss: 0.6442 - acc: 0.7912
Epoch 8/100
249/249 [==============================] - 0s 37us/step - loss: 0.6263 - acc: 0.7912
Epoch 9/100
249/249 [==============================] - 0s 40us/step - loss: 0.6036 - acc: 0.7912
Epoch 10/100
249/249 [==============================] - 0s 40us/step - loss: 0.5844 - acc: 0.7912
Epoch 11/100
249/249 [==============================] - 0s 79us/step - loss: 0.5599 - acc: 0.7912
Epoch 12/100
249/249 [==============================] - 0s 81us/step - loss: 0.5288 - acc: 0.7912
Epoch 13/100
249/249 [==============================] - 0s 39us/step - loss: 0.5166 - acc: 0.7912
Epoch 14/100
249/249 [==============================] - 0s 80us/step - loss: 0.4869 - acc: 0.7912
Epoch 15/100
249/249 [==============================] - 0s 81us/step - loss: 0.4801 - acc: 0.7912
Epoch 16/100
249/249 [==============================] - 0s 105us/step - loss: 0.4524 - acc: 0.7912
Epoch 17/100
249/249 [==============================] - 0s 56us/step - loss: 0.4521 - acc: 0.7912
Epoch 18/100
249/249 [==============================] - 0s 81us/step - loss: 0.4405 - acc: 0.7912
Epoch 19/100
249/249 [==============================] - 0s 80us/step - loss: 0.4265 - acc: 0.7912
Epoch 20/100
249/249 [==============================] - 0s 79us/step - loss: 0.4204 - acc: 0.7912
Epoch 21/100
249/249 [==============================] - 0s 40us/step - loss: 0.4346 - acc: 0.7912
Epoch 22/100
249/249 [==============================] - 0s 80us/step - loss: 0.4033 - acc: 0.7912
Epoch 23/100
249/249 [==============================] - 0s 81us/step - loss: 0.4091 - acc: 0.7912
Epoch 24/100
249/249 [==============================] - 0s 40us/step - loss: 0.4143 - acc: 0.7912
Epoch 25/100
249/249 [==============================] - 0s 81us/step - loss: 0.4149 - acc: 0.7912
Epoch 26/100
249/249 [==============================] - 0s 39us/step - loss: 0.4140 - acc: 0.7912
Epoch 27/100
249/249 [==============================] - 0s 41us/step - loss: 0.3952 - acc: 0.7912
Epoch 28/100
249/249 [==============================] - 0s 81us/step - loss: 0.4074 - acc: 0.7912
Epoch 29/100
249/249 [==============================] - 0s 39us/step - loss: 0.3828 - acc: 0.7912
Epoch 30/100
249/249 [==============================] - 0s 81us/step - loss: 0.3831 - acc: 0.7912
Epoch 31/100
249/249 [==============================] - 0s 60us/step - loss: 0.3811 - acc: 0.7912
Epoch 32/100
249/249 [==============================] - ETA: 0s - loss: 0.3386 - acc: 0.800 - 0s 20us/step - loss: 0.3979 - acc: 0.7912
Epoch 33/100
249/249 [==============================] - 0s 40us/step - loss: 0.4063 - acc: 0.7912
Epoch 34/100
249/249 [==============================] - 0s 41us/step - loss: 0.3777 - acc: 0.7912
Epoch 35/100
249/249 [==============================] - 0s 79us/step - loss: 0.3835 - acc: 0.7912
Epoch 36/100
249/249 [==============================] - 0s 40us/step - loss: 0.3819 - acc: 0.7912
Epoch 37/100
249/249 [==============================] - 0s 81us/step - loss: 0.3893 - acc: 0.7912
Epoch 38/100
249/249 [==============================] - 0s 39us/step - loss: 0.3749 - acc: 0.7912
Epoch 39/100
249/249 [==============================] - 0s 40us/step - loss: 0.3647 - acc: 0.7912
Epoch 40/100
249/249 [==============================] - 0s 41us/step - loss: 0.3628 - acc: 0.7912
Epoch 41/100
249/249 [==============================] - 0s 40us/step - loss: 0.3765 - acc: 0.7912
Epoch 42/100
249/249 [==============================] - 0s 81us/step - loss: 0.3985 - acc: 0.7912
Epoch 43/100
249/249 [==============================] - 0s 39us/step - loss: 0.3566 - acc: 0.7912
Epoch 44/100
249/249 [==============================] - 0s 80us/step - loss: 0.3605 - acc: 0.7912
Epoch 45/100
249/249 [==============================] - 0s 40us/step - loss: 0.3545 - acc: 0.7912
Epoch 46/100
249/249 [==============================] - 0s 40us/step - loss: 0.3679 - acc: 0.7912
Epoch 47/100
249/249 [==============================] - 0s 81us/step - loss: 0.3624 - acc: 0.7912
Epoch 48/100
249/249 [==============================] - 0s 41us/step - loss: 0.3621 - acc: 0.7912
Epoch 49/100
249/249 [==============================] - 0s 80us/step - loss: 0.3665 - acc: 0.7912
Epoch 50/100
249/249 [==============================] - 0s 39us/step - loss: 0.3505 - acc: 0.7912
Epoch 51/100
249/249 [==============================] - 0s 80us/step - loss: 0.3721 - acc: 0.7912
Epoch 52/100
249/249 [==============================] - 0s 41us/step - loss: 0.3714 - acc: 0.7912
Epoch 53/100
249/249 [==============================] - 0s 79us/step - loss: 0.3750 - acc: 0.7912
Epoch 54/100
249/249 [==============================] - 0s 41us/step - loss: 0.3792 - acc: 0.7912
Epoch 55/100
249/249 [==============================] - 0s 81us/step - loss: 0.3947 - acc: 0.7912
Epoch 56/100
249/249 [==============================] - 0s 40us/step - loss: 0.3614 - acc: 0.7912
Epoch 57/100
249/249 [==============================] - 0s 80us/step - loss: 0.3696 - acc: 0.7912
Epoch 58/100
249/249 [==============================] - 0s 40us/step - loss: 0.3690 - acc: 0.7912
Epoch 59/100
249/249 [==============================] - 0s 40us/step - loss: 0.3595 - acc: 0.7912
Epoch 60/100
249/249 [==============================] - 0s 41us/step - loss: 0.3339 - acc: 0.7912
Epoch 61/100
249/249 [==============================] - 0s 41us/step - loss: 0.3577 - acc: 0.7912
Epoch 62/100
249/249 [==============================] - 0s 41us/step - loss: 0.3598 - acc: 0.7912
Epoch 63/100
249/249 [==============================] - 0s 39us/step - loss: 0.3397 - acc: 0.7912
Epoch 64/100
249/249 [==============================] - 0s 81us/step - loss: 0.3651 - acc: 0.7912
Epoch 65/100
249/249 [==============================] - 0s 40us/step - loss: 0.3298 - acc: 0.7912
Epoch 66/100
249/249 [==============================] - 0s 80us/step - loss: 0.3374 - acc: 0.7912
Epoch 67/100
249/249 [==============================] - 0s 41us/step - loss: 0.3633 - acc: 0.7912
Epoch 68/100
249/249 [==============================] - 0s 80us/step - loss: 0.3700 - acc: 0.7912
Epoch 69/100
249/249 [==============================] - 0s 42us/step - loss: 0.3617 - acc: 0.7912
Epoch 70/100
249/249 [==============================] - 0s 40us/step - loss: 0.3357 - acc: 0.7912
Epoch 71/100
249/249 [==============================] - 0s 39us/step - loss: 0.3412 - acc: 0.7912
Epoch 72/100
249/249 [==============================] - 0s 41us/step - loss: 0.3130 - acc: 0.7912
Epoch 73/100
249/249 [==============================] - 0s 38us/step - loss: 0.3370 - acc: 0.7912
Epoch 74/100
249/249 [==============================] - 0s 41us/step - loss: 0.3607 - acc: 0.7912
Epoch 75/100
249/249 [==============================] - 0s 40us/step - loss: 0.3597 - acc: 0.7912
Epoch 76/100
249/249 [==============================] - 0s 80us/step - loss: 0.3375 - acc: 0.7912
Epoch 77/100
249/249 [==============================] - 0s 41us/step - loss: 0.3539 - acc: 0.7912
Epoch 78/100
249/249 [==============================] - 0s 79us/step - loss: 0.3434 - acc: 0.7912
Epoch 79/100
249/249 [==============================] - 0s 40us/step - loss: 0.3485 - acc: 0.7912
Epoch 80/100
249/249 [==============================] - 0s 81us/step - loss: 0.3368 - acc: 0.7912
Epoch 81/100
249/249 [==============================] - 0s 40us/step - loss: 0.3200 - acc: 0.7912
Epoch 82/100
249/249 [==============================] - 0s 81us/step - loss: 0.3550 - acc: 0.7912
Epoch 83/100
249/249 [==============================] - 0s 59us/step - loss: 0.3429 - acc: 0.7912
Epoch 84/100
249/249 [==============================] - 0s 41us/step - loss: 0.3246 - acc: 0.7912
Epoch 85/100
249/249 [==============================] - 0s 101us/step - loss: 0.3315 - acc: 0.7912
Epoch 86/100
249/249 [==============================] - 0s 59us/step - loss: 0.3479 - acc: 0.7912
Epoch 87/100
249/249 [==============================] - 0s 41us/step - loss: 0.3265 - acc: 0.7912
Epoch 88/100
249/249 [==============================] - 0s 39us/step - loss: 0.3520 - acc: 0.7912
Epoch 89/100
249/249 [==============================] - 0s 41us/step - loss: 0.3393 - acc: 0.8514
Epoch 90/100
249/249 [==============================] - 0s 40us/step - loss: 0.3222 - acc: 0.8956
Epoch 91/100
249/249 [==============================] - 0s 41us/step - loss: 0.3228 - acc: 0.9157
Epoch 92/100
249/249 [==============================] - 0s 80us/step - loss: 0.3763 - acc: 0.8916
Epoch 93/100
249/249 [==============================] - 0s 80us/step - loss: 0.3508 - acc: 0.8835
Epoch 94/100
249/249 [==============================] - 0s 40us/step - loss: 0.3416 - acc: 0.8996
Epoch 95/100
249/249 [==============================] - 0s 82us/step - loss: 0.3477 - acc: 0.9036
Epoch 96/100
249/249 [==============================] - 0s 40us/step - loss: 0.3029 - acc: 0.9076
Epoch 97/100
249/249 [==============================] - 0s 79us/step - loss: 0.3516 - acc: 0.8996
Epoch 98/100
249/249 [==============================] - 0s 41us/step - loss: 0.3410 - acc: 0.8956
Epoch 99/100
249/249 [==============================] - ETA: 0s - loss: 0.2236 - acc: 0.950 - 0s 41us/step - loss: 0.3382 - acc: 0.9036
Epoch 100/100
249/249 [==============================] - 0s 40us/step - loss: 0.3423 - acc: 0.8876

In [20]:
# Create 2 prediction variables y_pred_class and y_pred_prob
# y_pred_class is the predcition & y_pred_prob is probabilities of the prediction
y_pred_class=model.predict(x_test)
y_pred_prob=model.predict_proba(x_test)

In [21]:
y_pred_class[:5]

array([[0.070409  ],
       [0.00045063],
       [0.05486067],
       [0.03846052],
       [0.01186392]], dtype=float32)

# Accuracy & Null Accuracy

In [22]:
#Set threshold for 0 and 1. all values above threshold are 1 and below 0 
y_pred_class=y_pred_class>0.5


# false mean 0 and true mean 1
print(y_pred_class[:5])

[[False]
 [False]
 [False]
 [False]
 [False]]

In [23]:
y_pred_class.astype(int)[:5]

array([[0],
       [0],
       [0],
       [0],
       [0]])

In [48]:
# Calculate the accuracy score using ScikitLearn
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred_class)

0.8611111111111112

In [25]:
# Use the Panda Series value_count function to calculate distinct class values 
ytest.value_counts()

0    91
1    17
Name: Readmitted, dtype: int64

In [26]:
#use head function and divide it by lenght of ytest
ytest.value_counts().head(1)/len(ytest)

0    0.842593
Name: Readmitted, dtype: float64

In [27]:
y.value_counts().head(1)/len(y)

0    0.806723
Name: Readmitted, dtype: float64